# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [38]:
import pandas as pd

url2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
url3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'

In [39]:
url1 ='https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df1 = pd.read_csv(url1)

In [40]:

df2 = pd.read_csv(url2)
df3 = pd.read_csv(url3)

In [41]:
df2

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.600000,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.200000,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.600000,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.200000,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.200000,Corporate Auto,Two-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,M,Master,847141.75%,63513,70,1/0/00,185.667213,Personal Auto,Four-Door Car
992,BS91566,Arizona,F,College,543121.91%,58161,68,1/0/00,140.747286,Corporate Auto,Four-Door Car
993,IL40123,Nevada,F,College,568964.41%,83640,70,1/0/00,471.050488,Corporate Auto,Two-Door Car
994,MY32149,California,F,Master,368672.38%,0,96,1/0/00,28.460568,Personal Auto,Two-Door Car
995,SA91515,California,M,Bachelor,399258.39%,0,111,1/0/00,700.349052,Personal Auto,SUV

In [42]:
def cleaning_df(df):
    df.columns = [col.lower().replace(" ", "_") for col in df.columns]
    df = df.rename(columns = {
    "st":"state"
    }) 
    gender_map = {'female': 'F', 'Female': 'F', 'Femal': 'F', 'Male': 'M', 'M': 'M', 'F': 'F'}
    df['gender'] = df['gender'].replace(gender_map)
    state_map = {'AZ': 'Arizona', 'WA': 'Washington', 'Cali': 'California'}
    df['state'] = df['state'].replace(state_map)
    ed_map = {'Bachelors': 'Bachelor'}
    df['education'] = df['education'].replace(ed_map)
    df['customer_lifetime_value'] = df['customer_lifetime_value'].replace('%', '', regex=True)
    luxury = ['Sports Car', 'Luxury Car', 'Luxury SUV']
    df['vehicle_class'] = df['vehicle_class'].apply(lambda x: 'Luxury' if x in luxury else x)
    return df
df2 = cleaning_df(df2)
df3 = cleaning_df(df3)

In [43]:
df1 = cleaning_df(df1)

In [44]:
df2.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value       object
income                         int64
monthly_premium_auto           int64
number_of_open_complaints     object
total_claim_amount           float64
policy_type                   object
vehicle_class                 object
dtype: object

In [45]:
def cleaning_values(df):
    df['number_of_open_complaints'] = df['number_of_open_complaints'].str.split('/').str[1]
    df['number_of_open_complaints'] = df['number_of_open_complaints'].fillna('0')
    df['number_of_open_complaints'] = df['number_of_open_complaints'].astype(int)
    df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(float)

    df.fillna({'education':'unknown', 'state':'unknown','customer':'unknown', 'gender': 'unknown', 'policy_type': 'unknown', 'vehicle_class':'unknown'}, inplace=True)
    df['customer_lifetime_value'].fillna(df['customer_lifetime_value'].mean(),inplace=True)
    cols = ['income', 'monthly_premium_auto', 'total_claim_amount']
    df[cols] = df[cols].fillna('0')
    df['income'] = df['income'].astype(int)
    df['monthly_premium_auto'] = df['monthly_premium_auto'].astype(int)
    df['total_claim_amount'] = pd.to_numeric(df['total_claim_amount'], errors='coerce')
    df['income'] = df['income'].astype(int)
    df.drop_duplicates(inplace=True)
    return df
df2 = cleaning_values(df2)

/var/folders/z1/hpkmqfl54717zbjq651n7__40000gn/T/ipykernel_55104/2007274126.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['customer_lifetime_value'].fillna(df['customer_lifetime_value'].mean(),inplace=True)

In [46]:
df1 = cleaning_values(df1)

/var/folders/z1/hpkmqfl54717zbjq651n7__40000gn/T/ipykernel_55104/2007274126.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['customer_lifetime_value'].fillna(df['customer_lifetime_value'].mean(),inplace=True)

In [52]:
new_df = pd.merge(df1, df2, how="outer")
df = pd.merge(df3, new_df, how="outer")

In [58]:
df['customer'].duplicated().sum()

np.int64(78)

In [59]:
df['customer'].unique()

array(['AA10041', 'AA11235', 'AA16582', ..., 'ZZ91716', 'ZZ97035',
       'unknown'], dtype=object)

In [60]:
df = df[df['customer'] != 'unknown']

In [63]:
df = df.drop_duplicates(subset=['customer'], keep='first')

In [64]:
df['customer'].duplicated().sum()

np.int64(0)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [55]:
df4 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv')

In [75]:
df4['monthly_premium_auto'].unique()

array([ 61,  64, 100,  97, 117,  63, 154,  85, 127,  62,  99,  69, 116,
       114,  66,  73,  94, 104, 189,  74, 121, 110, 111,  72, 115, 159,
       101,  65,  82,  71, 126,  68, 199,  96,  67, 125, 249, 105,  92,
        78,  77,  79, 223, 242,  70, 102, 109, 107, 119, 194, 113, 106,
       247,  80,  86,  81,  83, 122, 253, 196, 132, 139,  84, 130,  93,
       103, 112, 222, 118,  88, 182, 283,  90, 128,  89, 235, 190,  76,
        87, 133, 153, 129,  98, 148, 123,  91, 211, 131, 108, 187, 214,
       181, 173, 252,  95, 124, 137, 145, 188, 143, 198, 138, 245, 195,
       186, 170, 136, 161, 157, 141, 205, 271, 192, 142, 140, 134, 240,
       185, 244, 210, 184, 202, 296, 213, 273, 219, 135, 169, 155, 225,
       266, 215, 197, 256, 212, 158, 180, 166, 168, 183, 162, 191, 179,
       150, 146, 276, 165, 239, 237, 193, 229, 274, 207, 295, 208, 172,
       217, 206, 201, 171, 152, 156, 174, 238, 167, 151, 144, 163, 287,
       209, 290, 220, 228, 232, 178, 177, 275, 176, 281, 149, 298, 255,
       216, 285, 226, 160, 147, 254, 164, 175, 297, 234, 284, 204, 218,
       261, 231, 248, 286, 230, 268, 203])

In [76]:
df4.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [87]:
pivot_df = df4.pivot_table(
    index='sales_channel',
    values='monthly_premium_auto',
    aggfunc='sum'
).round(2)

In [88]:
pivot_df

               monthly_premium_auto
sales_channel
Agent                        386335
Branch                       280953
Call Center                  197970
Web                          151511

In [92]:
pivot_df2 = df4.pivot_table(index='education' , columns = 'gender', values ='customer_lifetime_value',aggfunc='mean').round(2)

In [93]:
pivot_df2

gender                      F        M
education
Bachelor              7874.27  7703.60
College               7748.82  8052.46
Doctor                7328.51  7415.33
High School or Below  8675.22  8149.69
Master                8157.05  8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here